:root {
    --main-bg-color: #f0f0f0;
    --header-bg-color: #333;
    --text-color: #333;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

header {
    background-color: var(--header-bg-color);
    padding: 20px;
    text-align: center;
    color: white;
}

.bgimg {
    width: 100%;
    height: 500px;
}

h1 span {
    font-size: 30px;
    color: rgb(200, 8, 40);
}

h2 span {
    font-size: 25px;
    color: rgb(200, 8, 40);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    background-color: #000;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.hero-banner {
    margin: 20px;
    padding: 20px;
    background-image: url(../image/bgportfolio.jpg);
    background-size: cover;
}

.about {
    margin: 20px auto;
    padding: 20px 10px;
}

.page-section {
    margin: 20px;
    padding: 10px 20px;
    display: grid;
}

.btn {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: azure;
}

p {
    margin: 10px auto;
    text-decoration: none;
    
}

a:link {
    text-decoration: none;
}

.social-icons {
    display: flex;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    justify-content: space-around;
}

.copyright {
    text-align: center;
    width: 100%;
    font-weight: 300;
    background: #262626;
    padding: 25px 0;
    margin-top: 20px;
    color: white;
}

/* media queries */
   
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    body {
        background-color: skyblue;
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    body {
        background-color: rgb(10, 59, 79);
    }
    }
    
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    body {
        background-color: rgb(222, 159, 218);
    }
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    body {
        background-color: rgb(189, 54, 68);
    }
    }
}
    